.mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}

p{
	text-align: center;
}
#input{
	width:40%;
	margin-left:30%;
	text-align:center;
	valign:middle;
}
#label{
	text-align: center;
}
#buttons{
	margin-left: 20%;
}
#title{
	margin-left: 25%
}
#result{
	margin-left:35%;
}
